---
Language:        Cpp
BasedOnStyle:  WebKit
AccessModifierOffset: -4 # i.e. no offset
# the following setting deviate from WebKit style in clang-format 6.0.0
AlignEscapedNewlines: Left
AlignOperands:   true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
BreakAfterJavaFieldAnnotations: true
Cpp11BracedListStyle: true
ColumnLimit:     80
IncludeIsMainRegex: '(Test|_test)?$'
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: None
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false # requires clang-format 7 or later
SpacesInContainerLiterals: false
TabWidth:        4
...

