sf-about-dialog > dialog {
  font-family: sans-serif;
  font-size: 14px;
  width: 50%;
}

sf-about-dialog > dialog img.sf-logo {
  height: 56px;
  padding: 0em 0.5em 0em 0.5em;
  vertical-align: middle;
}

sf-about-dialog > dialog button {
  float: right;
}

sf-about-dialog > dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

sf-about-dialog > dialog[open] {
  animation: fadein 0.1s forwards;
}

/* this does not work, a class needs to be added manually for a closing animation */
/* https://stackoverflow.com/a/71984473 */
/* sf-about-dialog > dialog::not([open]) {
  animation: fadein 0.5s backwards;
} */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  sf-about-dialog > dialog {
    width: 80%;
  }
}
