/* navbar */

sf-navbar {
  height: 100%;
}

sf-navbar a {
  font-family: sans-serif;
  font-size: 1em;
  color: black;
}

/* logo */

sf-navbar > img.sf-logo {
  float: left;
  display: flex;
  align-items: center;
  height: calc(100% - 1em);
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-decoration: none;
  outline-offset: -0.2em;
}

/* nav */

sf-navbar > nav {
  height: 100%;
  display: inline-block;
}

/* hamburger */

sf-navbar > a.sf-hamburger {
  display: none;
  position: relative;
  float: right;
  height: 100%;
  padding: 0em 0.5em 0em 0.5em;
  text-decoration: none;
  align-items: center;
  outline-offset: -0.2em;
}

sf-navbar > a.sf-hamburger:hover {
  background-color: chartreuse;
}

/* mobile */

@media screen and (max-width: 576px) {
  /* nav */
  sf-navbar > nav {
    top: 100%;
    height: 0;
    position: relative;
    display: block;
  }
  /* hamburger */
  sf-navbar > a.sf-hamburger {
    display: flex;
  }
}
