sf-data-panel {
  background-color: darkcyan;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tabs {
  background-color: crimson;
  flex: 0 0 2em;
  display: flex;
}

.tab-link {
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  line-height: 2em;
  background-color: #eee;
  font-size: 1em;
  font-family: sans-serif;
  padding: 0 0.5em 0 0.5em;
}

.tab-link:hover {
  background-color: #ddd;
}

.tab-link.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  flex: 0 0 calc(100% - 2em);
}

.tab-content.active {
  display: flex;
}
