sf-data-chart {
  background-color: darkolivegreen;
  flex: 1 1 100%;
  overflow: hidden;
}

/* set initially to prevent flash of unstyled chart */
sf-data-chart.init {
  visibility: hidden;
  overflow:hidden;
}

sf-data-chart > div {
  /* required to make chart resize to available space */
  position: relative;
  width: 100%;
  height: 100%;
  background-color: darkorange;
}

sf-data-chart > div > div {
  /* required to make chart resize to available space */
  position: absolute;
}
