sf-data-panel {
  background-color: darkcyan;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  margin: 0.25em;
}

.tabs {
  background-color: crimson;
  flex: 0 0 2em;
  display: flex;
}

.tab-link {
  background-color: inherit;
  border: none;
  cursor: pointer;
  line-height: 2em;
  background-color: #ccc;
  font-size: 1em;
  font-family: sans-serif;
  padding: 0 0.5em 0 0.5em;
  outline-offset: -0.2em;
  min-width: 5em;
}

.tab-link:hover {
  background-color: #ddd;
}

.tab-link.active {
  background-color: #eee;
}

.tab-link.populated {
  font-weight: bold;
}

.tab-content {
  display: none;
  flex: 0 0 calc(100% - 2em);
  overflow: auto;
}

.tab-content.active {
  display: flex;
}
