sf-data-panel {
  background-color: #eee;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
  border: solid black 1px;
  border-radius: 5px;
  /* do not allow child elements to overlap rounded corners */
  overflow: hidden;
}

.tabs {
  background-color: #eee;
  flex: 0 0 2em;
  display: flex;
}

.tab-link {
  background-color: inherit;
  border: none;
  cursor: pointer;
  line-height: 2em;
  background-color: #eee;
  font-size: 1em;
  font-family: sans-serif;
  padding: 0 0.5em 0 0.5em;
  outline-offset: -0.2em;
  min-width: 5em;
  border-radius: 5px 5px 0 0;
}

.tab-link:hover {
  background-color: #ddd;
}

.tab-link.active {
  background-color: #fff;
}

.tab-link.populated {
  font-weight: bold;
}

.tab-content {
  display: none;
  flex: 0 0 calc(100% - 2em);
  overflow: auto;
}

.tab-content.active {
  display: flex;
}
