sf-app {
  flex-grow: 1; /* fill 100% height */
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* header - content - footer */

sf-app > .header {
  background-color: lightblue;
  height: 2em;
}

sf-app > .content {
  background-color: lightgoldenrodyellow;
  flex-grow: 1; /* fill 100% height */
  display: flex;
  height: calc(100% - 2em - 2em);
}

sf-app > .footer {
  background-color: lightcoral;
  height: 2em;
}

/* content */

sf-app > .content > .tree {
  background-color: aqua;
  display: flex;
  flex: 0 0 20%;
  white-space: nowrap;
  overflow: auto;
}

sf-app > .content > .node-content {
  background-color: aliceblue;
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

sf-app > .content > .node-content > .data {
  background-color: aquamarine;
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

sf-app > .content > .node-content > .params {
  background-color: azure;
  flex: 0 0 40%;
  height: 40%;
  /* TODO: avoid overflow hidden, find out why overflow occurs */
  overflow: hidden;
}
