sf-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

sf-footer > span {
  font-family: sans-serif;
  font-size: 14px;
  /* don't wrap, show ellipsis */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* show ellipsis on the left hand side */
  /* in combination with &lrm; entity prepended and appended to text */
  direction: rtl;
}

/* prepend &lrm; entity to text to avoid re-ordering of text */
sf-footer > span::before {
  content: "\200E";
}

/* append &lrm; entity to text to avoid re-ordering of text*/
sf-footer > span::after {
  content: "\200E";
}
