/* html - body */

html {
  height: 100%;
}

body {
  background-color: #eee;
  height: 100%;
  margin: 0;
  /* make flexbox to allow App to fill 100% height */
  display: flex;
  flex-direction: column;
}

:focus {
  outline: 1px dotted grey;
}
