sf-parameters-panel {
  font-family: sans-serif;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  border: solid black 1px;
  border-radius: 5px;
  /* do not allow child elements to overlap rounded corners */
  overflow: hidden;
  background-color: #fff;
}

sf-parameters-panel > h1 {
  font-size: 1em;
  font-weight: normal;
  line-height: 2em;
  margin: 0;
  padding: 0 0.5em 0 0.5em;
  background-color: #eee;
}

sf-parameters-panel > h1.populated {
  font-weight: bold;
}

sf-parameters-panel div {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  overflow: auto;
}

sf-parameters-panel div ul {
  font-size: 14px;
  margin: 0;
  padding-left: 0;
  margin-left: 1em;
  white-space: pre-wrap;
}
