sf-tree-node {
  cursor: pointer;
  display: block; /* new line for each */
}

sf-tree-node > sf-tree-node {
  margin-left: 1em;
}

sf-tree-node > .plusminus {
  display: inline-block;
  width: 1em;
  text-align: left;
}

sf-tree-node.selected > .node-name {
  background-color: darkorange;
}
